
body{
    display: flex;   
    justify-content: center;
    align-items: center;   
    margin: 0;  
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    
}
.container{    
    width: 100%;
    max-width: 360px;
    background-color: #222;
    opacity: 0.8;
    border-radius: 20px;
    padding: 30px;    
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;           
}

input.search {
    border: none;
    outline: none;
    padding: 0.4em 1em;    
    border-radius: 15px;
    width: calc(100% - 90px);
    height: 25px;
    background-color: gray;
    color: white;
    font-weight:400;
}

.btn {
    margin-right: 0.5em;
    width: 37px;
    height: 37px;
    border-radius: 50px;
    cursor: pointer;
    background-color: gray;
    border: none;
    outline: none;
}
.btn:hover {
    color: yellowgreen;
    background-color: black;
}

.weather {
    color: white;     
}
.city{
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    margin: 5px auto;
}

h1 {
    font-size: 40px;
    margin-top: 5px;
}

.conditions{
    display: flex;
    align-items: center;  
        
}

.conditions img {
    width: 80px;
    height: auto;
}

.description {
    text-transform: capitalize;
    margin-top: 20px;
}

.humidity{
    margin-top: 10px;
    margin-bottom: 5px;
}
.wind {
    margin-top: 5px;
}

.sun {
    display: flex;
}

.sunset{
    margin-left:30px;
}

.set, .rise {
    margin-top:0;
}